<div style="display: flex;align-items: center;height: 100vh;">
    <div class="card text-center" style="width: 300px;margin:auto">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <form action="" [formGroup]="recoverForm" (ngSubmit)="recoverPassword()">
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Enter your email address and we'll send you an email with instructions to reset your password.
                </p>
                <div class="form-outline">
                    <span class="text-danger" *ngIf="recoverForm.get('email')?.hasError('required') && recoverForm.get('email')?.touched">
                        El campo debe de ser rellenado.
                      </span>
                      <span class="text-danger" *ngIf="recoverForm.get('email')?.hasError('email') && recoverForm.get('email')?.touched">
                        El campo debe de ser un email valido.
                      </span>
                    <input type="email"  formControlName="email"  placeholder="Email" class="form-control my-3" />
                    
                </div>
                <button type="submit" [disabled]="recoverForm.invalid" class="btn btn-primary w-100">Reset password</button>
                <div class="d-flex justify-content-between mt-4">
                    <a class="" routerLink="/user">Login</a>
                    <a class="" routerLink="/user/register">Register</a>
                </div>
            </div>
        </form>
        
    </div>
</div>
